// Load Fonts
@font-face {
	font-family: 'Venom';
	font-weight: 400;
	src: url('/src/fonts/VENOM.ttf') format('truetype');
}
@font-face {
	font-family: 'Marvel';
	font-weight: 400;
	src: url('/src/fonts/Marvel-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'DeValencia';
	font-weight: 400;
	src: url('/src/fonts/DeValencia.otf') format('truetype');
}