.home-hero{
    background-image: #222222;
    &__wrapper{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__navigation{
        display: flex;
        align-items: center;
        padding: 20px;
        transition: opacity 0.3s;
    }
    &__links{
        font-family: 'Marvel', sans-serif;
        font-size: 1rem;
        text-decoration: none;
        color: $black;
        margin-right: 50px;
        &--active{
            opacity: 1;
          }
        &--inactive{
        opacity: 0.6;
        }
        &:last-child{
            margin-right: 0px;
        }
    }
    &__logo{
        height: 30px;
        margin-right: 50px;
    }
    &__center{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .button--start, .title__venom {
            transition: opacity 0.3s;
        }
    }
    &__embed{
        display: none;
    }
    &__footer{
        display: flex;
        justify-content: space-between;
        padding: 20px;
        align-items: center;
        img{
            height: 30px;
        }
        transition: opacity 0.3s;
    }
}
.home-hero.play {
    .home-hero__navigation, .home-hero__footer {
        opacity: 0;
    }
    .home-hero__center {
        .title__venom {
            opacity: 0.5;
        }
        .button--start {
            opacity: 0;
        }
    }
}

.sketch {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
}