@mixin button($bcolor, $url, $x1, $y1, $bor, $col) {
  background: $bcolor;
  -webkit-mask: url($url);
  mask: url($url);
  -webkit-mask-size: $x1 $y1;
  mask-size: $x1 $y1;
  border: $bor;
  color: $col;
}

.button {
  &--primary {
    background: $white;
    font-family: "Marvel", sans-serif;
    font-size: 1rem;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-transform: uppercase;
    border-radius: 70px;
    width: 300px;
    height: 72px;
    border: none;
    &__mask1 {
      position: absolute;
      color: $black;
      text-align: center;
      overflow: hidden;
      font-family: "Marvel", sans-serif;
      font-size: 1rem;
      letter-spacing: 1px;
    }
    &__mask2 {
      width: 101%;
      height: 100%;
      letter-spacing: 1px;
      font-size: 1rem;
      font-family: "Marvel", sans-serif;
      text-transform: uppercase;
      border-radius: 70px;
      @include button(
        $black,
        "https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png",
        2300%,
        100%,
        none,
        $white
      );
      &__mask3 {
        position: absolute;
        color: $white;
        background: $black;
        text-align: center;
        overflow: hidden;
        font-family: "Marvel", sans-serif;
        font-size: 1rem;
        letter-spacing: 1px;
      }
      &__mask4 {
        width: 101%;
        height: 100%;
        letter-spacing: 1px;
        font-size: 1rem;
        font-family: "Marvel", sans-serif;
        text-transform: uppercase;
        border-radius: 70px;
        @include button(
          $black,
          "https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png",
          2300%,
          100%,
          none,
          $white
        );
      }
      cursor: pointer;
      animation: ani2 0.7s steps(22) forwards reverse;

      &:hover {
        animation: ani 0.7s steps(22) forwards reverse;
      }
    }
  }
}

@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
