.button {
  &--primary {
    background: black;
    font-family: 'Marvel', sans-serif;
    font-size: 1rem;
    color: $white;
    padding: 20px 80px;
    text-decoration: none;
    letter-spacing: 1;
    transition: transform .2s ease,box-shadow .2s ease;
    will-change: transform,box-shadow;
    &:hover{
      transform: translateY(-3px) translateZ(0);
      box-shadow: 0 16px 32px 0 rgba(32,27,77,.12), 0 0 0 transparent;
    }
  }
}
