.card {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  font-family: "Marvel", sans-serif;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease;

  &.card-visible {
    opacity: 1;
  }

  .title-ask {
    font-family: DeValencia, sans-serif;
    font-size: 30px;
    line-height: 1.5;
    color: $black;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
    @media (max-width: 767px){
      color: $white;
    }
  }
  .ask {
    margin: 0;
    padding: 0;
    cursor: pointer;

    li {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
